

 
<br><h1 class="text-center text-4xl text-white py-2">Gestion de Alumnos</h1>

<div class=" mx-auto  p-14 bg-black w-1/4"><img src="./images/logo1.png" width="500" alt="logo"></div>

<p class="text-center text-white text-2xl font-semibold">PCyP - Programación Concurrente Y Paralela</p>

<br><p class="text-center text-white text-1xl font-semibold">Esta asignatura ubicada en el segundo año del plan de estudio de la carrera de APU 2008, representa un espacio de aprendizaje y formación para el futuro egresado como Analista Programador Universitario.
La asignatura pretende familiarizarlo con los conceptos fundamentales de los sistemas concurrentes y proporcionarle técnicas que le permitan desarrollar soluciones correctas a los problemas de concurrencia que encuentre en su actividad profesional; e introducirlo en las problemáticas computacionales emergentes y aplique técnicas de paralelismo (HPC) para resolverlos en forma eficiente.</p>

<div class="text-center w-full my-16">
  
  <a href="/alumno" class="font-semibold bg-pink-500 text-xl text-white hover:bg-pink-700 px-8 py-4 text-center rounded-md mx-auto">Comenzar</a>

</div>