<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>GESTIÓN DE ALUMNOS</title>
    
    <!-- Tailwind CSS Link -->
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.1/tailwind.min.css">

    <!-- Fontawesome Link -->
    <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
 
  </head>
  <body class="bg-black">  <!-- bg-gray-200 original - lo cambié por fondo negro-->

    <nav class="flex py-5 bg-pink-500 text-white px-24">
      <div>
          <img src="./images/logo2.png" width="50" alt="logo">
      </div>
      <div class="w-1/2 px-12 mr-auto">
      
        <a href="/"><p class="text-2xl font-bold">PCyP - Inicio</p></a>
        
      </div>

      <ul class="w-1/2 px-16 ml-auto flex justify-end pt-1">
        <li class="nav-item px-4">
          <a href="/alumno" class="nav-link font-semibold hover:bg-pink-700 py-3 px-4 rounded-md">Alumnos Inscriptos</a>  <!-- reemplazar tasks-->
        </li>

        <li class="nav-item px-4">
          <a href="/create" class="nav-link font-semibold border-2 border-white hover:text-pink-700 hover:bg-white py-3 px-4 rounded-md">Agregar Alumno</a>
        </li>
      </ul>
    </nav>
    <!-- Document body -->
    <!--  -->

    {{{body}}}


  </body>
</html>